#Usc {
    width: 1920px; 
    height: 100px;
    font-size: 550px;
    color: white;
    font-weight: bolder;
    font-family: Impact;
    position: relative;
    top: -1700px;
    left:200px;
}

#Logo {
    width: 120px;
    height: 120px;
    border: solid;
    border-color: white;
    border-radius: 225px;
    position: fixed;
    top: 30px;
    left: 30px;
}

#UscFC {
    width: 220px;
    height: 70px;
    border: solid;
    border-radius: 10px;
    position: relative;
    font-size: 30px;
    top: -180px;
    left: -10px;
}


#UscExtra {
    width: 220px;
    height: 70px;
    border: solid;
    border-radius: 10px;
    position: relative;
    font-size: 30px;
    top: -1609px;
    left: 1340px;
}

.fejlec {
    background-color: #ed2647;
    height: 630px;
    width: 100%;
    position: relative; 
    top: 0;
    left: 0;
    z-index: 0000; 
}

#UscText {
    position: relative; 
    bottom: 50px; 
    right: 50px; 
    font-size: 30px; 
    font-family: Arial;
    border: 5px solid white; 
    background-color: grey; 
    padding: 20px;  
    height: 550px;
    width: 250px; 
    border-radius: 20px; 
    color: white; 
}   

#UscExtraText {
    position: relative; 
    bottom: 1480px; 
    right: -1300px; 
    font-size: 30px; 
    font-family: Arial;
    border: 5px solid white; 
    background-color: grey; 
    padding: 20px;  
    height: 550px;
    width: 250px; 
    border-radius: 20px; 
    color: white; 
}

#Hatter {
    position: absolute;
    height: 1080px;
    width: 1920x;
    top: 0px;
    left: 000px;
}


  
.also {
    position: relative;
    bottom: 750px;
    left: -20px;
    border: solid white 2px;
    width: 120%; 
}
html {
    background-color: red;
}

.elso {
    position: relative;
    bottom: 700px;
    left: 300px;
    
}

html, body {
    height: 200%;
    margin: 0;
    padding: 0;
    overflow-x: hidden; 
}








